body {
    background-color: #222222;
    color: #efefef;
}

h1 {
    font-size: 54px;
    color: orange;
    text-align: center;
    margin: 25px 0;
    letter-spacing: 16px;
    text-transform: uppercase;
}

.board {
    width: 800px;
    height: 480px;
    margin: 20px auto;
}

#game-canvas {
    background-color: black;
    width: 800px;
    height: 480px;
    border: 2px solid orange;
}

.comment {
    text-align: center;
    font-size: 32px;
    color: orange;
}

.controls {
    margin-top: 10px;
    text-align: center;
}

.controls button {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.controls button:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
    cursor: pointer;
}

.controls button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#delete {
    background: url('images/remove.png') no-repeat;
    background-color: #fff;
}

#help {
    font-size: 20px;
    letter-spacing: 5px;
    color: #666;
}

#help:hover {
    color: orange;
    cursor: pointer;
}

.help {
    display: none;
    position: absolute;
    width: 800px;
    height: 600px;
    background-color: black;
    border: 2px solid orange;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 30px;
    font-size: 20px;
    text-align: center;
}

#close-help {
    position: relative;
    left: 350px;
    color: orange;
}

#close-help:hover {
    cursor: white;
    cursor: pointer;
}