body {
    background-color: #222222;
    color: #E9B64A;
    font-family: Verdana;
}

div {
    margin: 2px 0;
}

.interface {
    margin: 15px 0;
}

#sequence,
#phi {
    display: inline-block;
    margin-right: 50px;
}

.odd,
.even {
    color: #999;
}

.ratio {
    color: #FFC851;
}

input[type=number] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button] {
    align-items: center;
    background-clip: padding-box;
    background-color: #E9B64A;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 80px;
}

input[type=button]:hover,
input[type=button]:focus {
    background-color: #FFC851;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

input[type=button]:active {
    background-color: #FFC851;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
}

.btn-wrapper {
    text-align: center;
}

.header-wrapper{
    text-align: center;
}

.red-color{
    color: red;
}

.green-color{
    color: green;
}

.magenta-color{
    color: magenta;
}

*:disabled {
    background-color: dimgrey !important;
    color: linen;
    opacity: 1;
    cursor: default !important;
}