
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
